{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./jsconfig.json"]
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "react",
    "import",
    "unicorn",
    "eslint-plugin-no-inline-styles",
    "react-refresh"
  ],
  "rules": {
    // unicorn
    "unicorn/numeric-separators-style": [
      "warn",
      {
        "onlyIfContainsSeparator": true
      }
    ],

    // import
    "import/no-unresolved": "off",
    "import/no-anonymous-default-export": "error",
    "import/namespace": "off",
    "import/newline-after-import": "error",
    "import/no-named-as-default-member": "off",

    // prettier
    "prettier/prettier": "warn",

    // react
    "react/jsx-uses-react": "error",
    "react/react-in-jsx-scope": "error",
    "react/jsx-key": "error",
    "react/no-array-index-key": "off",
    "react/jsx-boolean-value": ["error", "always"],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "function-expression"
      }
    ],
    "react/prop-types": "off",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],

    // react-hooks
    "react-hooks/exhaustive-deps": "off",

    // react-refresh
    "react-refresh/only-export-components": "off",

    // common
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "tabWidth": 2,
        "code": 90
      }
    ],
    "yoda": "warn",
    "default-case": "off",
    "no-loop-func": "warn",
    "no-extra-boolean-cast": "warn",
    "no-console": "warn",
    "no-useless-escape": "warn",
    "eqeqeq": "warn",
    "no-fallthrough": "warn",
    "semi": "warn",
    "curly": "warn",
    "eol-last": "warn",
    "camelcase": [
      "error",
      {
        "ignoreImports": true,
        "ignoreDestructuring": true,
        "properties": "never"
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "var",
        "next": "return"
      }
    ],
    "no-multiple-empty-lines": "warn",
    "no-eval": "off",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-debugger": "warn",
    "no-prototype-builtins": "off",
    "no-constant-condition": "warn",
    "no-empty-pattern": "off",
    "no-duplicate-imports": "error",
    "no-unsafe-member-access": "off",
    "no-empty-interface": "off",
    "no-unsafe-call": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^(props|e|event|route|_|setState|getState|styles|args)$",
        "varsIgnorePattern": "^(props|e|event|route|_|setState|getState|styles|args)$"
      }
    ],
    "no-unsafe-assignment": "off",
    "no-floating-promises": "off",
    "no-unsafe-return": "off",
    "no-inferrable-types": "off",
    "no-misused-promises": "off",
    "no-empty-function": "off",
    "no-async-promise-executor": "off",
    "no-case-declarations": "off",
    "require-await": "off",
    "restrict-plus-operands": "off",
    "restrict-template-expressions": "off",
    "unbound-method": "off",
    "global-require": "error",
    "explicit-module-boundary-types": "off"
  }
}
